In [1]:
import random
import pandas as pd

In [2]:
def simulate(_randomlist, _num, _iteration):
    for i in range(0,_num): 
        _randomlist.append([random.randrange(1,366),_iteration])
    return _randomlist

In [3]:
iterations=10000

num=123

randomlist=[]

In [4]:
for i in range(0,iterations):
    simulate(randomlist, num, i)

In [5]:
df = pd.DataFrame(randomlist, columns = ['day', 'iteration'])

In [6]:
df2 = pd.DataFrame(df.groupby(["iteration", "day"]).size().reset_index(name="times"))

In [7]:
df2

         iteration  day  times
0                0    1      1
1                0    5      1
2                0    7      1
3                0    9      1
4                0   10      2
...            ...  ...    ...
1045719       9999  348      1
1045720       9999  351      1
1045721       9999  354      1
1045722       9999  355      1
1045723       9999  362      1

[1045724 rows x 3 columns]

In [8]:
df2.times.value_counts()

1    880357
2    147895
3     16115
4      1279
5        76
6         2
Name: times, dtype: int64

In [9]:
df3=df2[df2['times'] >= 3]

In [10]:
df4=pd.DataFrame(df3['iteration'].unique())

In [11]:
df4.count()/iterations

0    0.8433
dtype: float64